.dropdown {
    position: absolute;
    width: 250px;
    border-radius: 8px;
    padding: 20px;
    margin-top: 5px;
    z-index: 1;
    transition: all .2s;
    background: rgb(75 85 99);
    color: white;
}

.dropdown h1 {
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 2px;
}

.dropdown ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.item {
    border-radius: 8px;
    cursor: pointer;
}

.item:hover {
    background-color: rgba(223, 224, 227, 0.942);
}