.dragOverExistingTask {
    transform: translateY(-10px); /* Adjust this value based on your design */
    transition: transform 0.3s ease; /* Add a smooth transition effect */
    margin-bottom: 90px;
  }
  
  .removedragOverExistingTaskStyle {
    transform: translateY(10px); /* Adjust this value based on your design */
    transition: transform 0.3s ease; /* Add a smooth transition effect */
    margin-bottom: 0px;
  }
  