@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* remove horizontal scroll bar */
    overflow-x: hidden;
    min-width: 240px;
}
.banner-bg {
    background-image: url("../assets/bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}
.active {
    background-color: #f3f4f6;
}
.inactive:hover {
    background-color: #f3f4f6;
}


.btn {
  @apply rounded-xl h-10 px-4 grid place-content-center font-semibold  transition-all;
}

.btn-primary {
  @apply bg-primary text-white;
}

.btn-danger {
  @apply bg-red-500 text-white;
}
